	@font-face {
		font-family: 'recharge';
		src: url('../fonts/recharge.ttf') format('truetype');
	}
	@font-face {
		font-family: 'blox2';
		src: url('../fonts/blox2.ttf') format('truetype');
	}
	.container{
		display: flex;	
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: fit-content;
		margin: auto;
	}
	#menu {
		padding: 2%;
		gap: 20px;
	}
	.botao{
		background:linear-gradient(to bottom, rgb(85, 160, 204) 0%, rgb(30, 69, 113) 80%);
		border-radius: 12px;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}
	input[type=button]{
		border:1px solid rgb(11, 14, 7);
		cursor:pointer;
		color:rgb(20, 59, 103);
		font-family:'recharge';
		font-size:21px;
		padding: 18px;
		box-shadow: 0 2px rgb(10, 8, 43);
		margin: 10px;
		width: 100%;
	} 
	input[type=button]:active{
		box-shadow: 0 0px;
		transform: translateY(2px);
	}
	body{
		background-image: url("../wallpaper/[2]_(9,21)_(7,24)_(3,24)_[2]_(384,274).png"); 
		background-color: rgb(0, 0, 0); 
		background-repeat: repeat;
	}
	h{
		color:rgb(85, 160, 204);
		font-family:'blox2';
		font-size: 32px;
		padding: 18px;
	}
	img {
		display: block;
		border-width: 2px; 
		border-style: solid; 
		border-color: rgb(30, 69, 113); 
		border-radius: 12px;
	}
	.panel {
		width: 60%;
		height: auto;
		margin-bottom: 10px;
	}
